<% content_for :sub_heading do %>
  Listing Templates
<% end %>
<table class="table table-hover tab-top-buffer">
  <thead>
    <tr>
      <% @template_columns.each do |attr| %>
        <th><%= attr.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <%= render @templates %>
  </tbody>
</table>