<div id="template-header" class="page-header title-style fill-grey">
  <h1 class="heading offset1">Showing Template</h1>
</div>
<div class="span8 offset1">
  <dl class="dl-horizontal">
    <% @template_columns.each do |attr| %>
      <dt><strong><%= attr.humanize %>:</strong></dt>
      <dd><%= @template.try attr.to_sym %></dd>
    <% end %>
  </dl>
  <div>
    <%= link_to 'Back', admin_templates_path, :class => 'btn' %>
    <%= link_to 'Edit', edit_admin_template_path(@template), :class => 'btn' %>
  </div>
</div>