<% if @fields.blank? %>
  <% flash[:error] = "No Field created. Click on 'add a field'" %>
<% end %>

<div id="field-header" class="page-header title-style fill-grey">
  <h1 class="heading offset1">Listing <%= ResourceName %> Fields</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <% attributes = @field_columns - ['id', 'created_at', 'updated_at'] %>
      <% attributes.each do |attr| %>
        <th><%= attr.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'field', collection: @fields, locals: { attributes: attributes } %>
  </tbody>
</table>
<%= link_to "Add a field", new_admin_field_path, :class => "btn btn-success" %>