<div class="page-header">
  <h1>Search for <%= ResourceName.pluralize %></h1>
</div>


<form class="form-search">
  <div class="input-append">
    <input type="text" class="span8 search-query">
    <button type="submit" class="btn">Search</button>
  </div>
</form>