<div class="page-header">
  <h1>Search for <%= ResourceName.pluralize %></h1>
</div>

<%= form_tag resources_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<!-- <form class="form-search">
  <div class="input-append">
    <input type="text" class="span8 search-query">
    <button type="submit" class="btn">Search</button>
  </div>
</form> -->