<% if current_user.try(:admin?) %>
  <% content_for :navbar do %>
    <li><%= link_to "Home", admin_path%></li>
    <li><%= link_to ResourceName.pluralize, admin_resources_path %></li>
    <li><%= link_to "Fields", admin_fields_path %></li>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Search for <%= ResourceName.pluralize %></h1>
</div>


<form class="form-search">
  <div class="input-append">
    <input type="text" class="span8 search-query">
    <button type="submit" class="btn">Search</button>
  </div>
</form>