<div class="edit-profile">
  <div class="page-header title-style fill-grey">
    <h1 class="heading offset1">Editing Profile</h1>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <%= image_tag @user.picture.photo.url(:full), class: "img-polaroid" %>
      <div class="pull-right">
        <% if @user.picture %>
          <%= link_to "Remove", picture_path(@user.picture), method: :delete %>
        <% else %>
          No Image uploaded
        <% end %>
      </div>
    </div>
    <div class="offset1 pull-left">
      <div class="row-fluid"><h4 class="heading border-down">DETAILS</h4></div>
      <div class="row-fluid top-buffer">
        <%= render 'form' %>
      </div>
      <div class="row-fluid"><h4 class="heading border-down">PICTURE</h4></div>
      <div class="row-fluid top-buffer">
        <%= render partial: 'pictures/form', locals: { object: @user } %>
      </div>
    </div>
  </div>
</div>