<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @follower.full_name %></h1>
    <p>
      <%= link_to @commentor.full_name.titleize, user_path(@commentor) %>
        commented on the <%= link_to 'review', review_path(@review) %>  on which you had commented.
    </p>
    <hr/>
    <p>This is a system generated e-mail, Kindly do not reply </p>
  </body>
</html>