<%= form_for Review.new, :html => { :class => "form" } do |f| %>
  <div class="span8">
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :content, class: "span12", rows: 12, placeholder: "How did you like/ dislike it? Add in your feedback in atleast 50 words.." %>
      </div>
    </div>
    <% f.object.resource_id = @resource.id %>
    <div class="actions pull-right">
      <%= f.submit :class => 'btn btn-success'%>
    </div>
    <%= f.hidden_field :resource_id, :value => @resource.id %>
  </div>
<% end %>