<li class="media well">
  <div class="rating span1 pull-left">
    <div>Rating</div>
    <div>Score</div>
  </div>
  <div class="media-body pull-left span8">
    <h4 class="media-heading heading">
      <%= link_to resource.name, resource_path(resource) %>
      <h5>
        <i class="icon-map-marker">
          <%= get_field_value(resource, Field.find_by_name(:Location)) %>,
          <%= get_field_value(resource, Field.find_by_name(:City)) %>
        </i>
      </h5>
    </h4>
    <div class="media">
      <%= truncate(resource.description, :length => 200)%>
    </div>
  </div>
  <div class="pull-right">
    <div><i class="icon-pencil"> Reviews</i></div>
    <div><i class="icon-thumbs-up"> Votes</i></div>
  </div>
</li>