/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rateit
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

.rating-meter {
  background-color: #9ACD32;
  color: #FFFEEE;
  font-size: 20px;
  padding: 5px;
  text-align: center;
 }

 .rating-meter-label {
  background-color: #F9F9F7;
  font-size: 12px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
 }

.top-buffer {
  margin-top: 20px;
}

.side-buffer {
  margin-right: 10px;
}

.title-style {
  border-top: solid #AAA 1px;  
}
.fill-grey {
  background-color: #F9F9F7;
}
.heading {
  color: #444444;
  font-weight: normal;
  margin-bottom: 0px;
}
.magnify  {
  font-size: 20px;
}
.minify  {
  font-size: 12px;
}
.comment-container {
  font-size: 11px;
  background-color: #F9F9F7;
  margin: 2px;
  margin-left: 0px !important;
}
.comment-container .top-buffer {
  margin-top: 5px;
}
.new-comment {
  margin-left: 0px !important;
}
.new-comment textarea {
  font-size: 11px;
}
body {
  font-family: cursive !important;
}
.timestamp {
  color: grey;
}
#resource-header .rating-meter-label {
  background-color: white;
  font-size: 14px;
}
#resource-header .rating-meter {
  font-size: 22px;
}
.icon {
  font-size: 16px !important;
  margin-left: 10px;
}
.review-container {
  margin-left: 0px !important;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.border-down {
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
}
.listing {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
}
.indent {
  margin-left: 0px !important;
}
.resource-review-container .magnify {
  font-size: 16px;
}
.resource-review-container .minify {
  font-size: 12px;
}
.edit-profile .border-down {
  padding-bottom: 5px;
}
.tab-top-buffer {
  margin-top: 30px !important;
}
#footer .border-down {
  padding-bottom: 5px;
}

* {
  margin: 0;
}
html, body { 
  height: 100%;
}
.wrapper { 
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.footer, .push {
  height: 4em;
}
